.companies {
    
}
.companies-p {
    width: 548;
font-size: 24px;
color: #183B56;
line-height: 32px;
text-align: center;

}
.logo-container {
flex-wrap: wrap;
    display: flex;
justify-content: center;

}
.logo {
    width: 150px;
    height: 52px;
    display: flex;
   border-radius: 4px;
  gap: 25px;
    align-items: center;
    background-color: #FC5A5A;
    color: white;
      border-radius: 4px;
      padding: 0 15px;  
      text-align: center;
      white-space: nowrap; 
        margin: 10px;   
}
